<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	phpVersion="7.4"
	>
	<testsuites>
		<testsuite name="MSC Last Updated Test Suite">
			<directory suffix=".php">./tests</directory>
		</testsuite>
	</testsuites>

	<coverage processUncoveredFiles="true">
		<include>
			<directory suffix=".php">./includes</directory>
		</include>
		<exclude>
			<directory suffix=".php">./tests</directory>
		</exclude>
	</coverage>

	<php>
		<env name="WP_PLUGIN_DIR" value="/tmp/wordpress/wp-content/plugins"/>
		<env name="WP_TESTS_DIR" value="/tmp/msc-testing"/>
	</php>
</phpunit>
